.CrosswordClue {
    padding: 5px;
    padding-left: 15px;
}

.CrosswordClueNumber {
    display: inline-block;
    line-height: 1.4;
    margin-right: 15px;
    text-align-last: right;
    font-weight: 700;
}

.CrosswordCluePrimaryHighlight {
    background-color: lightblue;
}

.CrosswordClueSecondaryHighlight {
    background-color: #cccccc;
}